# Frontend Environment Variables Template
# Set to your personal backend API production URL
VITE_API_URL=http://localhost:8000/api

# Set to false to connect live backend API, or true for local mock mode
VITE_USE_MOCK=true

# Custom base path if deploying to a subpath
VITE_BASE_PATH=./
