# Backend Environment Variables Template
DEBUG=True
SECRET_KEY=YJiLT7oK3ddwHfmvudBUEMMR3gnRamZiGqzGMb-mHSqxxxB9Cidy97-hozS4gwF9_Ws

# Production Database (PostgreSQL / MySQL / SQLite)
# Example PostgreSQL: postgres://username:password@hostname:5432/dbname
DATABASE_URL=sqlite:///db.sqlite3

# Optional CORS & Host Settings
# ALLOWED_HOSTS=docspot-backend.onrender.com,localhost,127.0.0.1
